<%# comment %> 
<div class="comment-tabs" id="comment-tabs">
  comment:
  <ul>
    <% if (theme.livere.status) { %>
      <li><a href="#livere">LiveRe</a></li>
    <% } %>
    <% if (theme.valine.status) { %>
      <li><a href="#valine">Valine</a></li>
    <% } %>
  </ul>
  <%# LiveRe %>
  <% if (theme.livere.status) { %>
    <div id="livere">
      <% if (theme.livere.livere_data_uid) { %>
        <!-- LiveRe City install code -->
        <div id="lv-container" data-id="city" data-uid="<%= theme.livere.livere_data_uid %>">
          <script type="text/javascript">
            (function(d, s) {
              var j, e = d.getElementsByTagName(s)[0];
              if (typeof LivereTower === 'function') { return; }
              j = d.createElement(s);
              j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
              j.async = true;
              e.parentNode.insertBefore(j, e);
            })(document, 'script');
          </script>
          <noscript>Please activate JavaScript for write a comment in LiveRe</noscript>
          </div>
          <!-- completed City install code -->
        <% } %>
    </div>
  <% } %>
  <%# Valine %>
  <% if (theme.valine.status) { %>
    <div id="valine">
      <script src="//unpkg.com/valine/dist/Valine.min.js"></script>
      <div id="vcomments"></div>
      <script>
        new Valine({
          el: '#vcomments',
          appId: '<%= theme.valine.appid %>',
          appKey: '<%= theme.valine.appkey %>',
          avatar: 'monsterid',
          enableQQ: true
        })
      </script>
    </div>
  <% } %> 
</div>
