<div class="comment-tabs" id="comment-tabs">
  comment:
  <ul>
    <% if (theme.changyan.status) { %>
      <li><a href="#changyan">ChangYan</a></li>
    <% } %>
    <% if (theme.livere.status) { %>
      <li><a href="#livere">LiveRe</a></li>
    <% } %>
  </ul>
  <%# ChangYan %> 
  <% if (theme.changyan.status) { %>
    <div id="changyan">
      <% if(theme.changyan.appid && theme.changyan.appkey){ %>
        <% 
          var _appid = theme.changyan.appid
          var _appkey = theme.changyan.appkey
        %> 
        <!--PC和WAP自适应版-->
        <div id="SOHUCS" ></div> 
        <script type="text/javascript"> 
        (function(){ 
        var appid = "<%= _appid %>";
        var conf = "<%= _appkey %>"; 
        var width = window.innerWidth || document.documentElement.clientWidth; 
        if (width < 960) {
        var head = document.getElementsByTagName('head')[0]||document.head||document.documentElement;
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.charset = 'utf-8';
        script.id = 'changyan_mobile_js';
        script.src = 'https://cy-cdn.kuaizhan.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf;
        head.appendChild(script);
        } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("https://cy-cdn.kuaizhan.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); 
        </script>
      <% } %> 
    </div>
  <% } %>
  <%# LiveRe %> 
  <% if (theme.livere.status) { %>
    <div id="livere">
      <% if (theme.livere.livere_data_uid) { %>
        <!-- LiveRe City install code -->
        <div id="lv-container" data-id="city" data-uid="<%= theme.livere.livere_data_uid %>">
          <script type="text/javascript">
            (function(d, s) {
              var j, e = d.getElementsByTagName(s)[0];
              if (typeof LivereTower === 'function') { return; }
              j = d.createElement(s);
              j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
              j.async = true;
              e.parentNode.insertBefore(j, e);
            })(document, 'script');
          </script>
          <noscript>Please activate JavaScript for write a comment in LiveRe</noscript>
          </div>
          <!-- completed City install code -->
        <% } %>
    </div>
  <% } %>
</div>