.archive {
 overflow-y: scroll; 
 overflow-x: hidden;
 height: 100%;

 .archive-item {

   .archive-article {

     .archive-article-inner {
       
       .archive-article-header{

       }
     }

   }
 }
}

