// font
@font-face {
  font-family: 'custom-font';
  src: url('/lib/font/fun.ttf') format('truetype');
}

// breadrumb
@mixin inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
ul.breadcrumbs {
  margin: 0px;
  padding: 0px;
  font-size: 0px;
  line-height: 0px;
  @include inline;
  height: 40px;

  li {
    position: relative;
    margin: 0px 0px;
    padding: 0px;
    list-style: none;
    list-style-image: none;
    @include inline;
    transition: 0.3s ease;

    &:last-child:hover {
      &:before {
        border-left: 10px solid;
      }
    }

    &:before {
      content: "";
      position: absolute;
      right: -9px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 20;
      border-left: 10px solid;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      transition: 0.3s ease;
    }

    &:after {
      content: "";
      position: absolute;
      right: -10px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      border-left: 10px solid;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
    }

    &.first {
      border-left: none;

      a {
        font-size: 18px;
        padding-left: 20px;
        border-radius: 5px 0px 0px 5px;
      }
    }

    &.last {
      &:before, &:after {
        display: none;
      }
      a {
        padding-right: 20px;
        border-radius: 0px 40px 40px 0px;
      }
    }

    a {
      display: block;
      font-size: 20px;
      line-height: 40px;
      padding: 0px 15px 0px 25px;
      text-decoration: none;
      white-space: nowrap;
      overflow: hidden;
      transition: 0.3s ease;
    }
  }
}

// tree view
// ref: https://iamkate.com/code/tree-views/
.tree {
  --spacing: 1.5rem;
  --radius: 10px;

  li {
    display: block;
    position: relative;
    padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
  }

  ul {
    margin-left: calc(var(--radius) - var(--spacing));
    padding-left: 0;

    li {
      border-left: 2px solid;

      &:last-child {
        border-color: transparent;
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: calc(var(--spacing) / -2);
        left: -2px;
        width: calc(var(--spacing) + 2px);
        height: calc(var(--spacing) + 1px);
        border: solid;
        border-width: 0 0 2px 2px;
      }
    }
  }
}

// css floder
// https://github.com/jlizanab/FFolders
.ffolder {
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 10px;
}

.ffolder.small {
  margin-top: 8px;
  width: 88px;
  height: 61px;
  border-radius: 0px 6px 6px 6px;
}

.ffolder.medium {
  margin-top: 16px;
  width: 176px;
  height: 122px;
  border-radius: 0px 10px 10px 10px;
}

.ffolder.big {
  margin-top: 24px;
  width: 264px;
  height: 183px;
  border-radius: 0px 14px 14px 14px;
}

.ffolder:before {
  content: "";
  display: block;
  position: absolute;
}

.ffolder:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
}

.ffolder.small:before {
  top: -8px;
  left: 0;
  width: 32px;
  height: 8px;
  border-radius: 6px 0px 0px 0px;
}

.ffolder.small:after {
  top: -16px;
  left: 24px;
  border: 8px solid transparent;
}

.ffolder.medium:before {
  top: -16px;
  left: 0;
  width: 64px;
  height: 16px;
  border-radius: 10px 0px 0px 0px;
}

.ffolder.medium:after {
  top: -32px;
  left: 48px;
  border: 16px solid transparent;
}

.ffolder.big:before {
  top: -24px;
  left: 0;
  width: 96px;
  height: 24px;
  border-radius: 14px 0px 0px 0px;
}

.ffolder.big:after {
  top: -48px;
  left: 72px;
  border: 24px solid transparent;
}

.ffolder span,
.ffolder i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ffolder span {
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 15px;
  white-space: nowrap;
}

.ffolder.small i {
  font-size: 37px;
}
.ffolder.medium i {
  font-size: 53px;
}
.ffolder.big i {
  font-size: 53px;
}

/*Available colors*/
.ffolder.cyan {
  background-color: #23cbf4;
}
.ffolder.cyan:before,
.ffolder.cyan span {
  background-color: #06baee;
}
.ffolder.cyan:after {
  border-bottom-color: #06baee;
}
.ffolder.cyan span {
  color: #ffffff;
}
.ffolder.cyan i {
  color: #06baee;
}

.ffolder.yellow {
  background-color: #ffbd00;
}
.ffolder.yellow:before,
.ffolder.yellow span {
  background-color: #f1a402;
}
.ffolder.yellow:after {
  border-bottom-color: #f1a402;
}
.ffolder.yellow span {
  color: #ffffff;
}
.ffolder.yellow i {
  color: #f1a402;
}

.ffolder.pink {
  background-color: #ff7f92;
}
.ffolder.pink:before,
.ffolder.pink span {
  background-color: #ff5e6e;
}
.ffolder.pink:after {
  border-bottom-color: #ff5e6e;
}
.ffolder.pink span {
  color: #ffffff;
}
.ffolder.pink i {
  color: #ff5e6e;
}

.ffolder.green {
  background-color: #62de82;
}
.ffolder.green:before,
.ffolder.green span {
  background-color: #66ca7f;
}
.ffolder.green:after {
  border-bottom-color: #66ca7f;
}
.ffolder.green span {
  background-color: transparent;
}
.ffolder.green i {
  color: #54c170;
}

.ffolder.gray {
  background-color: #829aa8;
}
.ffolder.gray:before,
.ffolder.gray span {
  background-color: #687f8c;
}
.ffolder.gray:after {
  border-bottom-color: #687f8c;
}
.ffolder.gray span {
  background-color: transparent;
}
.ffolder.gray i {
  color: #687f8c;
}
