// header bar settings
$header_access_max_width: 5%;
$header_date_max_width: 30%;
$header_height: 45px;
$header_menu_max_width: 40%;
$header_system_max_width: 25%;

$milk_body_top: $header_height + 10px;
$win_height: 60%;
$win_hover_border_color: #ff0000;
$win_hover_border_style: solid;
$win_hover_border_width: 1px;
$win_width: 55%;

$content_width: 55%;

// category settings
$category_height: 50%;
$category_width: 100% - $content_width;

// tag settings
$tag_width: $category_width;
$tag_height: 100% - $category_height;

// background color (text background)
$background_color: rgba(0, 0, 0, 0.675);

// cursor settings
$cursor_link: "AppStarting.cur";
$cursor_normal: "Arrow.cur";

// font settings
$font_color: #ffa500;
$font_family: "Bad Script";
$font_size: 25px;

// html: <a> style
$a_active_color: #ec9900;
$a_hover_color: #2dffee;
$a_link_color: #ff9595;

// archive settings
$archive_title_background_color: #ffa500;
$archive_title_color: #000000;
$archive_width: 55%;
$a_visited_color: #808080;

// breadrunmb settings
$breadrumb_background_color: #000000;
$breadrumb_border_color: #ff0808;
$breadrumb_font_color: #ffffff;

$h_prompt_color: rgba(255, 166, 0, 0.502);

// inline code settings
$line_code_background: rgba(221, 221, 221, 0.22);
$line_code_border: "1px solid $line_code_color";
$line_code_color: #ec6de4;

// paginator settings
$paginator_a_color: #ffffff;
$paginator_a_hover_background_color: #d3d3d3;
$paginator_a_hover_color: #000000;
$paginator_a_active_color: #ffffff;
$paginator_background_color: rgba(0, 0, 0, 0.675);

// toc settings
$toc_highlight: #10f7ff;
$toc_title_background_color: #dd7c3b;
$toc_title_color: #ffffff;

// draggable settings
$draggable_toc_border_width: 1px;
$draggable_toc_border_color: #d3d3d3;
$draggable_toc_max_width: 14%;
$draggable_toc_min_width: 10%;

// progress bar settings
$progress_bar_height: 10px;
$progress_bar_highlight: #ffa500;

// post table settings
$post_table_title_font_color: #ffffff;
$post_table_color: #f5deb3;
$post_table_thead_background_color: #ed1c40;
$post_table_border_color: #ed1c40;
$post_table_border_width: 2px;
$post_table_thead_color: #000000;

$dropdown_content_min_width: 300px;

// scroll to top style (back to top)
$scroll2top_top: 50%;
$scroll2top_left: 90%;
$scroll2top_width: 100px;
$scroll2top_height: 20px;
$scroll2top_color: #ffa500;

$vcomments_background: #ffffff;
