// theme ayu-mirage
$nav_bg_color: rgba(19, 23, 34, 0.9);
$nav_menu_hover_fg_color: #ffcc66;
$nav_menu_hover_bg_color: #273747;
$nav_menu_fg_color: #d9d7ce;
$nav_menu_active_fg_color: #d9d7ce;
$nav_menu_active_bg_color: #f07178;
$post_table_border_color: #aad94c;
$post_table_fg_color: #d9d7ce;
$post_table_head_fg_color: #000000;
$post_table_head_bg_color: #f29668;
$desktop_content_bg_color: rgba(19, 23, 34, 0.9);
$desktop_category_bg_color: rgba(19, 23, 34, 0.9);
$desktop_tag_bg_color: rgba(19, 23, 34, 0.9);
$win_hover_border_color: #39bae6;
$font_color: #d9d7ce;
$a_link_color: #39bae6;
$a_visited_color: #f07178;
$a_hover_color: #ffcc66;
$a_active_color: #aad94c;
$h_prompt_color: #c4a7e7;
$code_border_color: #ffcc66;
$details_border_color: #f29668;
$Tips_bg_color: #c4a7e7;
$Tips_fg_color: #d9d7ce;
$draggable_toc_bg_color: rgba(19, 23, 34, 0.9);
$draggable_toc_border_color: rgba(19, 23, 34, 0.9);
$draggable_toc_title_fg_color: #000000;
$draggable_toc_title_bg_color: #f29668;
$draggable_toc_active_fg_color: #c4a7e7;
$draggable_toc_progress_container_bg_color: rgba(19, 23, 34, 0.9);
$draggable_toc_progress_bar_bg_color: #ffcc66;
$win_title_fg_color: #d9d7ce;
$win_title_bg_color: rgba(19, 23, 34, 0.9);
$win_body_bg_color: rgba(19, 23, 34, 0.9);
$paginator_fg_color: #000000;
$paginator_bg_color: #39bae6;
$paginator_active_fg_color: rgba(19, 23, 34, 0.9);
$paginator_active_bg_color: #ffcc66;
$paginator_hover_fg_color: rgba(19, 23, 34, 0.9);
$paginator_hover_bg_color: #ffcc66;
$dropdown_content_bg_color: rgba(19, 23, 34, 0.5);
$vcomments_fg_color: #d9d7ce;
$vcomments_bg_color: rgba(0, 0, 0, 0.64);
$breadrumb_fg_color: #000000;
$breadrumb_bg_color: #d9d7ce;
$breadrumb_border_color: #f07178;
$breadrumb_active_bg_color: #5c6773;
$breadrumb_active_fg_color: #d9d7ce;
$breadrumb_hover_fg_color: #050505;
$breadrumb_hover_bg_color: #39bae6;
$tree_ul_li_color: #aad94c;
$post_content_bg_color: rgba(19, 23, 34, 0.9);
$code_prompt_bg_color: rgba(19, 23, 34, 0.9);
$language_fg_color: #d9d7ce;
$copy_fg_color: #d9d7ce;
$copy_bg_color: #5c6773;
$copy_hover_bg_color: #273747;
$copy_active_bg_color: #273747;

@import '_scheme.scss';
