// theme charcoal
$nav_bg_color: rgba(43, 43, 43, 0.9);
$nav_menu_hover_fg_color: #f8f8f2;
$nav_menu_hover_bg_color: #5c5c5c;
$nav_menu_fg_color: #e0e0e0;
$nav_menu_active_fg_color: #e0e0e0;
$nav_menu_active_bg_color: #f24d4d;
$post_table_border_color: #4caf50;
$post_table_fg_color: #e0e0e0;
$post_table_head_fg_color: #000000;
$post_table_head_bg_color: #ff9800;
$desktop_content_bg_color: rgba(43, 43, 43, 0.9);
$desktop_category_bg_color: rgba(43, 43, 43, 0.9);
$desktop_tag_bg_color: rgba(43, 43, 43, 0.9);
$win_hover_border_color: #03a9f4;
$font_color: #e0e0e0;
$a_link_color: #03a9f4;
$a_visited_color: #f24d4d;
$a_hover_color: #ffeb3b;
$a_active_color: #4caf50;
$h_prompt_color: #9c27b0;
$code_border_color: #ffeb3b;
$details_border_color: #ff9800;
$Tips_bg_color: #9c27b0;
$Tips_fg_color: #e0e0e0;
$draggable_toc_bg_color: rgba(43, 43, 43, 0.9);
$draggable_toc_border_color: rgba(43, 43, 43, 0.9);
$draggable_toc_title_fg_color: #000000;
$draggable_toc_title_bg_color: #ff9800;
$draggable_toc_active_fg_color: rgba(43, 43, 43, 0.9);
$draggable_toc_progress_container_bg_color: rgba(43, 43, 43, 0.9);
$draggable_toc_progress_bar_bg_color: #ffeb3b;
$win_title_fg_color: #e0e0e0;
$win_title_bg_color: rgba(43, 43, 43, 0.9);
$win_body_bg_color: rgba(43, 43, 43, 0.9);
$paginator_fg_color: #000000;
$paginator_bg_color: #03a9f4;
$paginator_active_fg_color: rgba(43, 43, 43, 0.9);
$paginator_active_bg_color: #ffeb3b;
$paginator_hover_fg_color: rgba(43, 43, 43, 0.9);
$paginator_hover_bg_color: #ffeb3b;
$dropdown_content_bg_color: rgba(43, 43, 43, 0.5);
$vcomments_fg_color: #e0e0e0;
$vcomments_bg_color: rgba(0, 0, 0, 0.64);
$breadrumb_fg_color: #000000;
$breadrumb_bg_color: #e0e0e0;
$breadrumb_border_color: #f24d4d;
$breadrumb_active_bg_color: #9e9e9e;
$breadrumb_active_fg_color: #e0e0e0;
$breadrumb_hover_fg_color: #1c1c1c;
$breadrumb_hover_bg_color: #03a9f4;
$tree_ul_li_color: #4caf50;
$post_content_bg_color: rgba(43, 43, 43, 0.9);
$code_prompt_bg_color: rgba(43, 43, 43, 0.9);
$language_fg_color: #e0e0e0;
$copy_fg_color: #e0e0e0;
$copy_bg_color: #9e9e9e;
$copy_hover_bg_color: #5c5c5c;
$copy_active_bg_color: #5c5c5c;

@import '_scheme.scss';
