// theme cobalt
$nav_bg_color: #002a4de8;
$nav_menu_hover_fg_color: #ffffff;
$nav_menu_hover_bg_color: #004080e7;
$nav_menu_fg_color: #e0e0e0;
$nav_menu_active_fg_color: #ffffff;
$nav_menu_active_bg_color: #003366;
$post_table_border_color: #0099cc;
$post_table_fg_color: #e0e0e0;
$post_table_head_fg_color: #ffffff;
$post_table_head_bg_color: #003366;
$desktop_content_bg_color: #002a4de8;
$desktop_category_bg_color: #002a4de8;
$desktop_tag_bg_color: #002a4de8;
$win_hover_border_color: #00bfff;
$font_color: #e0e0e0;
$a_link_color: #00bfff;
$a_visited_color: #3a6896;
$a_hover_color: #ffffff;
$a_active_color: #0099cc;
$h_prompt_color: #3399ff;
$code_border_color: #ffffff;
$details_border_color: #003366;
$Tips_bg_color: #3399ff;
$Tips_fg_color: #e0e0e0;
$draggable_toc_bg_color: #002a4d;
$draggable_toc_border_color: #002a4d;
$draggable_toc_title_fg_color: #ffffff;
$draggable_toc_title_bg_color: #003366;
$draggable_toc_active_fg_color: #3399ff;
$draggable_toc_progress_container_bg_color: #002a4d;
$draggable_toc_progress_bar_bg_color: #00bfff;
$win_title_fg_color: #e0e0e0;
$win_title_bg_color: #002a4d;
$win_body_bg_color: #002a4d;
$paginator_fg_color: #e0e0e0;
$paginator_bg_color: #040505;
$paginator_active_fg_color: #002a4d;
$paginator_active_bg_color: #3399ff;
$paginator_hover_fg_color: #002a4d;
$paginator_hover_bg_color: #3399ff;
$dropdown_content_bg_color: rgba(0, 42, 77, 0.8);
$vcomments_fg_color: #e0e0e0;
$vcomments_bg_color: rgba(0, 0, 0, 0.64);
$breadrumb_fg_color: #3a6896;
$breadrumb_bg_color: #e0e0e0;
$breadrumb_border_color: #003366;
$breadrumb_active_bg_color: #3399ff;
$breadrumb_active_fg_color: #e0e0e0;
$breadrumb_hover_fg_color: #002a4d;
$breadrumb_hover_bg_color: #00bfff;
$tree_ul_li_color: #0099cc;
$post_content_bg_color: #002a4de8;
$code_prompt_bg_color: #002a4d;
$language_fg_color: #e0e0e0;
$copy_fg_color: #e0e0e0;
$copy_bg_color: #003366;
$copy_hover_bg_color: #004080;
$copy_active_bg_color: #004080;

@import '_scheme.scss';
