// theme dark-graphite
$nav_bg_color: #2e2e2ee1;
$nav_menu_hover_fg_color: #f0f0f0;
$nav_menu_hover_bg_color: #434343;
$nav_menu_fg_color: #d1d1d1;
$nav_menu_active_fg_color: #f0f0f0;
$nav_menu_active_bg_color: #5e5d5d;
$post_table_border_color: #b0b0b0;
$post_table_fg_color: #d1d1d1;
$post_table_head_fg_color: #f0f0f0;
$post_table_head_bg_color: #6e6e6e;
$desktop_content_bg_color: #2e2e2ee1;
$desktop_category_bg_color: #2e2e2ee1;
$desktop_tag_bg_color: #2e2e2ee1;
$win_hover_border_color: #777777;
$font_color: #d1d1d1;
$a_link_color: #777777;
$a_visited_color: #5e5d5d;
$a_hover_color: #f0f0f0;
$a_active_color: #3a3a3a;
$h_prompt_color: #9e9e9e;
$code_border_color: #f0f0f0;
$details_border_color: #6e6e6e;
$Tips_bg_color: #9e9e9e;
$Tips_fg_color: #d1d1d1;
$draggable_toc_bg_color: #2e2e2e;
$draggable_toc_border_color: #2e2e2e;
$draggable_toc_title_fg_color: #f0f0f0;
$draggable_toc_title_bg_color: #6e6e6e;
$draggable_toc_active_fg_color: #2e2e2e;
$draggable_toc_progress_container_bg_color: #2e2e2e;
$draggable_toc_progress_bar_bg_color: #777777;
$win_title_fg_color: #d1d1d1;
$win_title_bg_color: #2e2e2e;
$win_body_bg_color: #2e2e2ee1;
$paginator_fg_color: #d1d1d1;
$paginator_bg_color: #777777;
$paginator_active_fg_color: #2e2e2e;
$paginator_active_bg_color: #f0f0f0;
$paginator_hover_fg_color: #2e2e2e;
$paginator_hover_bg_color: #f0f0f0;
$dropdown_content_bg_color: rgba(46, 46, 46, 0.8);
$vcomments_fg_color: #d1d1d1;
$vcomments_bg_color: rgba(0, 0, 0, 0.64);
$breadrumb_fg_color: #000000;
$breadrumb_bg_color: #d1d1d1;
$breadrumb_border_color: #5e5d5d;
$breadrumb_active_bg_color: #9e9e9e;
$breadrumb_active_fg_color: #d1d1d1;
$breadrumb_hover_fg_color: #2e2e2e;
$breadrumb_hover_bg_color: #777777;
$tree_ul_li_color: #6b6b6b;
$post_content_bg_color: #2e2e2ee1;
$code_prompt_bg_color: #2e2e2e;
$language_fg_color: #d1d1d1;
$copy_fg_color: #d1d1d1;
$copy_bg_color: #9e9e9e;
$copy_hover_bg_color: #434343;
$copy_active_bg_color: #434343;

@import '_scheme.scss';
