// theme dieci
$nav_bg_color: #1e1e1eee;
$nav_menu_hover_fg_color: #f0f0f0;
$nav_menu_hover_bg_color: #333333;
$nav_menu_fg_color: #d0d0d0;
$nav_menu_active_fg_color: #f0f0f0;
$nav_menu_active_bg_color: #cc6666;
$post_table_border_color: #66cc66;
$post_table_fg_color: #d0d0d0;
$post_table_head_fg_color: #f0f0f0;
$post_table_head_bg_color: #cc6666;
$desktop_content_bg_color: #1e1e1eee;
$desktop_category_bg_color: #1e1e1eee;
$desktop_tag_bg_color: #1e1e1eee;
$win_hover_border_color: #66cccc;
$font_color: #d0d0d0;
$a_link_color: #66cccc;
$a_visited_color: #cc6666;
$a_hover_color: #f0f0f0;
$a_active_color: #66cc66;
$h_prompt_color: #cc99ff;
$code_border_color: #f0f0f0;
$details_border_color: #cc6666;
$Tips_bg_color: #cc99ff;
$Tips_fg_color: #d0d0d0;
$draggable_toc_bg_color: #1e1e1e;
$draggable_toc_border_color: #1e1e1e;
$draggable_toc_title_fg_color: #f0f0f0;
$draggable_toc_title_bg_color: #cc6666;
$draggable_toc_active_fg_color: #cc99ff;
$draggable_toc_progress_container_bg_color: #1e1e1e;
$draggable_toc_progress_bar_bg_color: #66cccc;
$win_title_fg_color: #d0d0d0;
$win_title_bg_color: #1e1e1e;
$win_body_bg_color: #1e1e1eee;
$paginator_fg_color: #952bff;
$paginator_bg_color: #66cccc;
$paginator_active_fg_color: #1e1e1e;
$paginator_active_bg_color: #f0f0f0;
$paginator_hover_fg_color: #1e1e1e;
$paginator_hover_bg_color: #f0f0f0;
$dropdown_content_bg_color: rgba(30, 30, 30, 0.8);
$vcomments_fg_color: #d0d0d0;
$vcomments_bg_color: rgba(0, 0, 0, 0.64);
$breadrumb_fg_color: #952bff;
$breadrumb_bg_color: #d0d0d0;
$breadrumb_border_color: #cc6666;
$breadrumb_active_bg_color: #cc99ff;
$breadrumb_active_fg_color: #d0d0d0;
$breadrumb_hover_fg_color: #1e1e1e;
$breadrumb_hover_bg_color: #66cccc;
$tree_ul_li_color: #66cc66;
$post_content_bg_color: #1e1e1eee;
$code_prompt_bg_color: #1e1e1e;
$language_fg_color: #d0d0d0;
$copy_fg_color: #d0d0d0;
$copy_bg_color: #952bff;
$copy_hover_bg_color: #333333;
$copy_active_bg_color: #333333;

@import '_scheme.scss';
