// theme dracula
$nav_bg_color: #282a36e1;
$nav_menu_hover_fg_color: #f1fa8c;
$nav_menu_hover_bg_color: #44475a;
$nav_menu_fg_color: #f8f8f2;
$nav_menu_active_fg_color: #f8f8f2;
$nav_menu_active_bg_color: #ff5555;
$post_table_border_color: #50fa7b;
$post_table_fg_color: #f8f8f2;
$post_table_head_fg_color: #000000;
$post_table_head_bg_color: #ff79c6;
$desktop_content_bg_color: #282a36e1;
$desktop_category_bg_color: #282a36e1;
$desktop_tag_bg_color: #282a36e1;
$win_hover_border_color: #8be9fd;
$font_color: #f8f8f2;
$a_link_color: #8be9fd;
$a_visited_color: #ff5555;
$a_hover_color: #6272a4;
$a_active_color: #50fa7b;
$h_prompt_color: #bd93f9;
$code_border_color: #f1fa8c;
$details_border_color: #ff79c6;
$Tips_bg_color: #bd93f9;
$Tips_fg_color: #f8f8f2;
$draggable_toc_bg_color: #282a36e1;
$draggable_toc_border_color: #282a36;
$draggable_toc_title_fg_color: #000000;
$draggable_toc_title_bg_color: #ff79c6;
$draggable_toc_active_fg_color: #282a36;
$draggable_toc_progress_container_bg_color: #282a36e1;
$draggable_toc_progress_bar_bg_color: #ffb86c;
$win_title_fg_color: #f8f8f2;
$win_title_bg_color: #282a36;
$win_body_bg_color: #282a36e1;
$paginator_fg_color: #000000;
$paginator_bg_color: #8be9fd;
$paginator_active_fg_color: #282a36;
$paginator_active_bg_color: #f1fa8c;
$paginator_hover_fg_color: #282a36;
$paginator_hover_bg_color: #f1fa8c;
$dropdown_content_bg_color: rgba(40, 42, 54, 0.5);
$vcomments_fg_color: #f8f8f2;
$vcomments_bg_color: rgba(0, 0, 0, 0.64);
$breadrumb_fg_color: #000000;
$breadrumb_bg_color: #f8f8f2;
$breadrumb_border_color: #ff5555;
$breadrumb_active_bg_color: #6272a4;
$breadrumb_active_fg_color: #f8f8f2;
$breadrumb_hover_fg_color: #050505;
$breadrumb_hover_bg_color: #8be9fd;
$tree_ul_li_color: #50fa7b;
$post_content_bg_color: #282a36e1;
$code_prompt_bg_color: #282a36;
$language_fg_color: #f8f8f2;
$copy_fg_color: #f8f8f2;
$copy_bg_color: #6272a4;
$copy_hover_bg_color: #44475a;
$copy_active_bg_color: #44475a;

@import '_scheme.scss';
