// theme nord
$nav_bg_color: #2e3440ee;
$nav_menu_hover_fg_color: #d8dee9;
$nav_menu_hover_bg_color: #3b4252;
$nav_menu_fg_color: #eceff4;
$nav_menu_active_fg_color: #eceff4;
$nav_menu_active_bg_color: #bf616a;
$post_table_border_color: #a3be8c;
$post_table_fg_color: #eceff4;
$post_table_head_fg_color: #eceff4;
$post_table_head_bg_color: #bf616a;
$desktop_content_bg_color: #2e3440ee;
$desktop_category_bg_color: #2e3440ee;
$desktop_tag_bg_color: #2e3440ee;
$win_hover_border_color: #81a1c1;
$font_color: #eceff4;
$a_link_color: #81a1c1;
$a_visited_color: #bf616a;
$a_hover_color: #eceff4;
$a_active_color: #a3be8c;
$h_prompt_color: #b48ead;
$code_border_color: #eceff4;
$details_border_color: #bf616a;
$Tips_bg_color: #b48ead;
$Tips_fg_color: #eceff4;
$draggable_toc_bg_color: #2e3440;
$draggable_toc_border_color: #2e3440;
$draggable_toc_title_fg_color: #eceff4;
$draggable_toc_title_bg_color: #bf616a;
$draggable_toc_active_fg_color: #b48ead;
$draggable_toc_progress_container_bg_color: #2e3440;
$draggable_toc_progress_bar_bg_color: #81a1c1;
$win_title_fg_color: #eceff4;
$win_title_bg_color: #2e3440;
$win_body_bg_color: #2e3440ee;
$paginator_fg_color: #eceff4;
$paginator_bg_color: #81a1c1;
$paginator_active_fg_color: #2e3440;
$paginator_active_bg_color: #eceff4;
$paginator_hover_fg_color: #2e3440;
$paginator_hover_bg_color: #eceff4;
$dropdown_content_bg_color: rgba(46, 52, 64, 0.8);
$vcomments_fg_color: #eceff4;
$vcomments_bg_color: rgba(0, 0, 0, 0.64);
$breadrumb_fg_color: #b353a1;
$breadrumb_bg_color: #eceff4;
$breadrumb_border_color: #bf616a;
$breadrumb_active_bg_color: #b48ead;
$breadrumb_active_fg_color: #eceff4;
$breadrumb_hover_fg_color: #2e3440;
$breadrumb_hover_bg_color: #81a1c1;
$tree_ul_li_color: #a3be8c;
$post_content_bg_color: #2e3440ee;
$code_prompt_bg_color: #2e3440;
$language_fg_color: #eceff4;
$copy_fg_color: #eceff4;
$copy_bg_color: #b48ead;
$copy_hover_bg_color: #3b4252;
$copy_active_bg_color: #3b4252;

@import '_scheme.scss';
