$nav_bg_color: #2f2d2bee;
$nav_menu_hover_fg_color: #e3e3e3;
$nav_menu_hover_bg_color: #3e3b3a;
$nav_menu_fg_color: #e3e3e3;
$nav_menu_active_fg_color: #e3e3e3;
$nav_menu_active_bg_color: #fc6c6c;
$post_table_border_color: #f7c6c7;
$post_table_fg_color: #e3e3e3;
$post_table_head_fg_color: #000000;
$post_table_head_bg_color: #fc6c6c;
$desktop_content_bg_color: #2f2d2bee;
$desktop_category_bg_color: #2f2d2bee;
$desktop_tag_bg_color: #2f2d2bee;
$win_hover_border_color: #f7c6c7;
$font_color: #e3e3e3;
$a_link_color: #f7c6c7;
$a_visited_color: #fc6c6c;
$a_hover_color: #e3e3e3;
$a_active_color: #f7c6c7;
$h_prompt_color: #f7c6c7;
$code_border_color: #e3e3e3;
$details_border_color: #fc6c6c;
$Tips_bg_color: #f7c6c7;
$Tips_fg_color: #e3e3e3;
$draggable_toc_bg_color: #2f2d2b;
$draggable_toc_border_color: #2f2d2b;
$draggable_toc_title_fg_color: #000000;
$draggable_toc_title_bg_color: #fc6c6c;
$draggable_toc_active_fg_color: #f7c6c7;
$draggable_toc_progress_container_bg_color: #2f2d2b;
$draggable_toc_progress_bar_bg_color: #f7c6c7;
$win_title_fg_color: #e3e3e3;
$win_title_bg_color: #2f2d2b;
$win_body_bg_color: #2f2d2bee;
$paginator_fg_color: #000000;
$paginator_bg_color: #f7c6c7;
$paginator_active_fg_color: #2f2d2b;
$paginator_active_bg_color: #e3e3e3;
$paginator_hover_fg_color: #2f2d2b;
$paginator_hover_bg_color: #e3e3e3;
$dropdown_content_bg_color: rgba(47, 45, 43, 0.8);
$vcomments_fg_color: #e3e3e3;
$vcomments_bg_color: rgba(0, 0, 0, 0.64);
$breadrumb_fg_color: #000000;
$breadrumb_bg_color: #e3e3e3;
$breadrumb_border_color: #fc6c6c;
$breadrumb_active_bg_color: #f7c6c7;
$breadrumb_active_fg_color: #e3e3e3;
$breadrumb_hover_fg_color: #2f2d2b;
$breadrumb_hover_bg_color: #f7c6c7;
$tree_ul_li_color: #f7c6c7;
$post_content_bg_color: #2f2d2bee;
$code_prompt_bg_color: #2f2d2b;
$language_fg_color: #e3e3e3;
$copy_fg_color: #fc6c6c;
$copy_bg_color: #f7c6c7;
$copy_hover_bg_color: #3e3b3a;
$copy_active_bg_color: #3e3b3a;

@import '_scheme.scss';
