// theme solarized-dark
$nav_bg_color: #002b36ee;
$nav_menu_hover_fg_color: #268bd2;
$nav_menu_hover_bg_color: #073642;
$nav_menu_fg_color: #839496;
$nav_menu_active_fg_color: #839496;
$nav_menu_active_bg_color: #dc322f;
$post_table_border_color: #2aa198;
$post_table_fg_color: #839496;
$post_table_head_fg_color: #000000;
$post_table_head_bg_color: #dc322f;
$desktop_content_bg_color: #002b36ee;
$desktop_category_bg_color: #002b36ee;
$desktop_tag_bg_color: #002b36ee;
$win_hover_border_color: #268bd2;
$font_color: #839496;
$a_link_color: #268bd2;
$a_visited_color: #dc322f;
$a_hover_color: #93a1a1;
$a_active_color: #2aa198;
$h_prompt_color: #6c71c4;
$code_border_color: #839496;
$details_border_color: #dc322f;
$Tips_bg_color: #6c71c4;
$Tips_fg_color: #839496;
$draggable_toc_bg_color: #002b36;
$draggable_toc_border_color: #002b36;
$draggable_toc_title_fg_color: #000000;
$draggable_toc_title_bg_color: #dc322f;
$draggable_toc_active_fg_color: #6c71c4;
$draggable_toc_progress_container_bg_color: #002b36;
$draggable_toc_progress_bar_bg_color: #268bd2;
$win_title_fg_color: #839496;
$win_title_bg_color: #002b36;
$win_body_bg_color: #002b36ee;
$paginator_fg_color: #000000;
$paginator_bg_color: #268bd2;
$paginator_active_fg_color: #002b36;
$paginator_active_bg_color: #839496;
$paginator_hover_fg_color: #002b36;
$paginator_hover_bg_color: #839496;
$dropdown_content_bg_color: rgba(0, 43, 54, 0.8);
$vcomments_fg_color: #839496;
$vcomments_bg_color: rgba(0, 0, 0, 0.64);
$breadrumb_fg_color: #282fbe;
$breadrumb_bg_color: #839496;
$breadrumb_border_color: #dc322f;
$breadrumb_active_bg_color: #6c71c4;
$breadrumb_active_fg_color: #839496;
$breadrumb_hover_fg_color: #002b36;
$breadrumb_hover_bg_color: #839496;
$tree_ul_li_color: #2aa198;
$post_content_bg_color: #002b36ee;
$code_prompt_bg_color: #002b36;
$language_fg_color: #839496;
$copy_fg_color: #000000;
$copy_bg_color: #6c71c4;
$copy_hover_bg_color: #073642;
$copy_active_bg_color: #073642;

@import '_scheme.scss';
